@media only screen and (max-width: 1300px){
    
}
@media only screen and (max-width: 1024px){
    
}
@media only screen and (max-width: 992px){
    
}
@media only screen and (max-width: 767px){
    .Login_wrp .user_options-unregistered {
        width: 50%;
        // padding: 2rem 45px 2rem;
        padding: 12rem  15px 12rem;
        // transform: translateY(7rem);
        text-align: center;
    }
    .Login_wrp .user_options-registered {
        // padding: 15rem 45px 2rem!important;
        padding: 12rem  15px 12rem!important;
        text-align: center;
        
    }
    .Login_wrp .user_options-container {
        position: relative;
        width: 95%;
    }
    .Login_wrp .user_unregistered-text, .Login_wrp .user_registered-text {
        font-size: .80rem;
        line-height: 1.4em;
    }
    .Login_wrp .user_registered-title, .Login_wrp .user_unregistered-title {
        margin-bottom: 15px;
        font-size: 1.4rem;
        line-height: 1em;
    }
    .Login_wrp .user_registered-login, .Login_wrp .user_unregistered-signup {
        padding: .9rem 1.2rem;
        font-size: 13px;
        line-height: 1em;
        letter-spacing: 0.2rem;
    }
}
@media only screen and (max-width: 576px){
    .user_options-unregistered, .user_options-registered {
        width: 100%!important;
    }
    .Login_wrp .user_options-unregistered {
        width: 50%;
        padding: 2rem 15px 4rem;
        text-align: center;
        margin: 1rem 0 0;
    }
    .Login_wrp .user_options-registered {
        padding: 24rem 15px 1rem !important;
        text-align: center;
        margin: 0 0 1rem;
    }
    .Login_wrp .user_options-text{
        margin: 1rem 0 1rem;    
    }
    .Login_wrp .user_options-forms {
        position: absolute;
        top: 50%;
        left: 0px;
        width: 80%;
        transform: translate(54px, -13rem);
    }
    .Login_wrp .user_options-forms .forms_buttons-action{
        padding: .7rem 1.4rem;
        font-size: 15px;
    }
    .Login_wrp .user_registered-login, .Login_wrp .user_unregistered-signup {
        padding: 0.8rem 1.2rem;
        font-size: 13px;
    }
    .Login_wrp .user_options-forms{
        box-shadow: 2px 0 7px #99999957;
    }
    @keyframes bounceRight{
        0%,100%{
            display: none;
        }
    }
    @keyframes bounceLeft{
        0%,100%{
            display: none;
        }
    }
    .Login_wrp::before{
        display: none;
    }
}
@media only screen and (max-width: 480px){
    
    //-----login----page-------//

    .Login_wrp .user_options-unregistered {
        padding: 1rem 15px 2rem;
        margin: 0rem 0 0;
    }
    .Login_wrp .user_registered-title, .Login_wrp .user_unregistered-title {
        margin-bottom: 9px;
        font-size: 1.2rem;
        line-height: 1em;
    }
    .Login_wrp .user_registered-title {
        margin: 3rem 0 .9rem!important;
    }
    .Login_wrp .user_registered-login, .Login_wrp .user_unregistered-signup {
        margin-top: 16px;
    }    
    .Login_wrp .user_options-forms {
        transform: translate(23px, -14rem);
        width: 90%;
    }
    .Login_wrp .user_options-registered {
        padding: 26rem 15px 1rem !important;
        margin: 0 0 1rem;
    }
    //-----login---end--here---//
}
@media only screen and (max-width: 375px){
    .Login_wrp .user_options-forms {
        transform: translate(18px, -14rem);
        width: 90%;
    }
    .Login_wrp .user_options-text a.close1 {
        top: 17px;
        left: 18px;
    }
}